html, body{
    background-color: black;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

h1, #publish-btn, h2{
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    font-size: 25px;
}
h2{
    font-size: 20px;
}

#endorsement-input, #publish-btn, .endorsement{
    width: 317px;
    box-sizing: border-box;
}

#container{
    max-width: 320px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    background-color: #444059;
    border: none;
    border-radius: 8px;  
    color: #8F8F8F;
    resize: none;
    font-size: 15px;
    line-height: 18.15px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    text-wrap: wrap;
}

#endorsement-input{
    height: 200px;
    padding: 12px 17px;
}

#from-to-container {
    display: flex; 
    margin: 10px auto;
    padding: 0px;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: 40px;
}

#from-input, #to-input{
    text-align: center;
    width: 150px;
}

#publish-btn{
    background: #28A9F1;
    color: black;
    border: none;
    border-radius: 8px;
    height: 61px;
    padding: 5px auto;
    font-size: 21px; 
    margin:10px;
}

.endorsement{
    background-color: white;
    font-family: 'Inter', sans-serif;
    color: #1B1924;
    padding: 3px 16px;
    font-size: 14px;
    line-height: 17px;
    margin: 5px auto;
    flex-wrap: wrap;
}
.from-p, .to-p{
    font-weight: 700;
}
.from-p{
    /* background-color: blue; */
    display: flex;
}
.to-p{
    display: block;
}
.likes{
    color: black;
    /* background-color: #28A9F1; */
    float:right;
    margin-left: auto;
}
.likes:hover{
    color: red;
}
.endorsement-p{
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
    width: 317px;
}